{% extends 'encyclopedia/layout.html' %}

{% block title %}
    Create
{% endblock %}

{% block body %}
    <form class='create' action={% url 'create' %} method='post'>
    {% csrf_token %}
    <h3>Create New Page:</h3>
    <div class="input-group mb-3">
        <input name='title' type="text" class="form-control" placeholder="Title" aria-label="Username" aria-describedby="basic-addon1"
        required>
    </div>
    <div>
    <textarea name='content' class="form-control" aria-label="With textarea" placeholder="Content" rows='10' required></textarea>
    </div>
    <button class='save button btn btn-secondary'>Save</button>
    </form>
{% endblock %}